.how-it-works{
    height: 75vh;
}
.how-it-works__desigions{
    margin:0 10% 0 10%;
    height: 50%;
    position: relative;
}
.how-it-works__modal{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    width:100%;
    /*height:auto;*/
    background-color: rgba(249, 189, 189, .9);
    list-style-type: none;
    padding: 2% 10%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.how-it-works__modal li{
    margin-bottom:2%;
}
.how-it-works__desigions-items{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;;
}
.how-it-works__item{
    flex-basis: calc(100% / 4);
    height: 100%;
    border-right: 1px solid #000;
}
.how-it-works__item:nth-child(1){
    
    background: url('./../../assets/s_how_it_works_custom.png') 2% 2px/460% 100% no-repeat;
}
.how-it-works__item:nth-child(2){
    background: url('./../../assets/s_how_it_works_custom.png') 34% 2px/460% 100% no-repeat;
}
.how-it-works__item:nth-child(3){
    background: url('./../../assets/s_how_it_works_custom.png') 65% 2px/460% 100% no-repeat;
}
.how-it-works__item:nth-child(4){
    background: url('./../../assets/s_how_it_works_custom.png') 97% 2px/460% 100% no-repeat;
    border-right: none;
}
.how-it-works__btn{
    width: 20%;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #DAA520;
    border: none;
    margin: 10px 0 0 40%;
    font-size: .8em;
    transition: width 1s ease, margin 1s ease, font-size 1s ease;
}
.how-it-works__btn:hover, .how-it-works__btn:active{
    width: 18%;
    margin: 10px 0 0 41%;
    padding: 10px 10px;
    background-color: #f1c34e;
    font-size: 0.7em;
}