.nav-menu{
    height: inherit;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu li ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    margin-right: 1.5rem;
    height: 43px;
}
.nav-menu li ul li{
    font-size: .9em;
    border: 1px solid #000;
    border-radius: 5px;
    width:100%;
    padding: 2px;
}
.nav-menu li ul li button{
    border:none;
    padding: 4px 4px;
}
.nav-menu li ul li button:hover,.nav-menu li ul li button:active {
    cursor: pointer;
}
.nav-menu li ul li:first-child{
    margin-bottom: 2px;
}
.nav-menu ul li a{
    font-size: var(--font-navbarNunito);
}
@media screen and (max-width: 960px){
    .navbar .nav-menu:first-child{
        display:none;
    }
    .nav-menu{
        width: inherit;
        flex-direction: column;
        height: auto;
        margin-top:11%;
    }
    .nav-menu > li:first-child{
        margin-top: 1rem;
    }
    .nav-menu li{
        margin-bottom: 5%;
    }
    .nav-menu li svg{
        margin-left: 0%;
    }
    .nav-menu li ul{
        width:100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .nav-menu li ul li:first-child{
        margin-bottom: 5%;
    }
    .nav-menu li ul li{
        width:80%;
        margin-bottom: 5%;
    }
}