.navbar{
    height: 45px;
    width: 737px;
    margin-right:1rem;
    align-self: center;
}
.navbar ul{
    height: inherit;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar li ul{
    display:flex;
    flex-direction: column;
    margin-right: 1.5rem;
    height: 43px;
}
.navbar li ul li{
    font-size: .9em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 6px;
    width:100%;
}
.navbar li ul li:first-child{
    margin-bottom: 2px;
}
.navbar ul li{
}
.navbar ul li a{
    font-size: var(--font-navbarNunito);
}