.navbar{
    height: 40px;
    width: 737px;
    margin-right:1rem;
    align-self: center;
}
.navbar ul{
    height: inherit;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
}
.navbar ul li a{
    font-size: var(--font-navbarNunito);
}