.navbar{
    height: 45px;
    width: 737px;
    margin:0 1rem 0 10%;
    align-self: center;
}
.navbar svg{
    cursor: pointer;
}
.navbar__sandwich-menu{
    display:none;
}

@media screen and (max-width: 960px){
    .navbar{
        display: flex;
        justify-content: flex-end;
    }
    .navbar__sandwich-menu{
        display:block;
        padding-top:.5rem;
        width: 200px;
    }
    .navbar__sandwich-menu svg{
        margin-left: 80%;
    }
}