*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  background: var(--bg-color);
}
a{
  color: unset;
  text-decoration: none;
}
.gradient-text{
  background: var(--text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-margin{
  margin: 4rem 6rem;
}
.section-padding{
  padding: 4rem 6rem;
}

@media screen and (max-width: 800px){
  .section-margin{
    margin: 4rem;
  }
  .section-padding{
    padding: 4rem;
  }
}
@media screen and (max-width: 480px){
  .section-margin{
    margin: 4rem 2rem;
  }
  .section-padding{
    padding: 4rem 2rem;
  }
}